/* :root{
    --ion-background-color: #000000; 
    --ion-text-color: #ffffff; 
    --ion-color-primary: #F72798; 
    --ion-toolbar-background: #000000; 
    --ion-toolbar-color: #ffffff; 
}
body{
    background-color: var(--ion-background-color);
    color: var(--ion-text-color);
}


ion-button{
    --background: #F72798 !important;
    --background-hover: #D81B74 !important; 
    --background-activated: #D81B74 !important;
    --color: white !important;
    border-radius: 5px;
    font-weight: bold;
    --ion-color-primary: #F72798 !important; 
}
ion-button::part(native){
    background: #F72798 !important; 
}
ion-item{
    --background: #EEEEEE !important; 
    --color: #000000 !important; 
    border-radius: 5px;
    margin-bottom: 10px;
}
ion-input, ion-select, ion-datetim{
    --background: #EEEEEE !important; 
    --color: #000000 !important; 
    --placeholder-color: #555 !important; 
    --padding-start: 10px;
    --padding-end: 10px;
    border-radius: 5px;
}

ion-menu{
    --ion-background-color: black !important; 
}
ion-menu ion-item{
    --background: transparent !important; 
    --color: white !important; 
    --ripple-color: transparent !important; 
    border-bottom: 1px solid white !important; 
}
ion-menu ion-item::part(native){
    background: transparent !important;
}
ion-menu ion-list{
    padding: 10px 0;
}
*/

ion-range::part(pin) {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: #fff;

    border-radius: 50%;
    transform: scale(1.01);

    top: -20px;

    min-width: 28px;
    height: 28px;
    transition: transform 120ms ease, background 120ms ease;
}

ion-radio {
    --border-radius: 4px;
    --inner-border-radius: 4px;

    --color: #ddd;
    --color-checked: #a50000;
}

ion-radio.ios::part(container) {
    width: 20px;
    height: 20px;

    border: 2px solid #bd98c6;
    border-radius: 4px;
}

.radio-checked.ios::part(container) {
    border-color: #a50000;
}
  
/* ion-col {
    background-color: #135d54;
    border: solid 1px #fff;
    color: #fff;
    text-align: center;
} */
 